<table>
    <tr>
        <th>|</th>
        <th>Field</th>
        <th>|</th>
        <th>Value</th>
        <th>|</th>
     </tr>
     <tr>
        <td>|</td>
        <td>---</td>
        <td>|</td>
        <td>---</td>
        <td>|</td>
      </tr>
      <tr>
        <td>|</td>
        <td>Name</td>
        <td>|</td>
        <td>{{ owner_name }}</td>
        <td>|</td>
      </tr> 
      <tr>
        <td>|</td>
        <td>Pet</td>
        <td>|</td>
        <td>{{ pet_type_name }}</td>
        <td>|</td>
      </tr> 
</table> 