
<!-- end of right column content -->
<!-- footer section -->

<!-- end of footer section -->


<link href="{{ base_url }}public/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ base_url }}public/css/bootstrap-responsive.min.css" rel="stylesheet">
 <link href="{{ base_url }}public/css/font-awesome.css" rel="stylesheet">
<link href="{{ base_url }}public/css/custom.css" rel="stylesheet">

  <script src="{{ base_url }}public/js/jquery.min.js"></script>
 <script src="{{ base_url }}public/js/jquery-ui.min.js"></script>
<script src="{{ base_url }}public/js/lodash.min.js"></script>
<script src="{{ base_url }}public/js/bootstrap.min.js"></script>
 <script src="{{ base_url }}public/js/custom.js"></script>
</div>
</body>
</html>